/* CSS DOCUMENT */

h1 {
    color: rgb(144, 238, 144);
    font-size: 3em;
    background-color: rgb(255, 192, 203);
    padding: 2em 2em 2em 2em;
    font-family: sans-serif;
}

h2 {
    color: rgb(144, 238, 144);
    font-size: 2em;
    font-family: serif;
}
